{% extends 'base.html' %}
{% block title %}{{ article.title }}{% endblock %}
{% block menu %}
    <a class="navbar-brand" href="">Изменить</a>
    <a class="navbar-brand" href="">Удалить</a>
{% endblock %}
{% block content %}
    <div class="card mt-5" style="width: 18rem;">
        <div class="card-header">
            {{ list.summary }}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Description: {{ list.description }}</li>
            <li class="list-group-item">Status: {{ list.status }}</li>
            <li class="list-group-item">Type: {{ list.type }}</li>
            <li class="list-group-item">Date: {{ list.created_at }}</li>
            <li class="list-group-item"><a href="" >Удалить</a></li>
        </ul>
    </div>
{% endblock %}
